{% import 'ProfileAdminBundle:macros:profile.html.twig' as macros_profile %}

<div data-container="profiles" data-client-id="{{ client.id }}">
    {% for profile in profiles %}
        {{ macros_profile.card(profile, isGrantedEdit, isZenith) }}
    {% endfor %}
</div>